/*========== VARIABLES ==========*/
:root {
    /*========== Font and typography ==========*/
    --heading-font: 'Raleway', sans-serif;
    --body-font: 'Roboto Mono', monospace;
    --body-font-size: 1.2rem;
}

/*========== BASE ==========*/
body {
    background-color: #ffffff;
    font-family: var(--body-font) !important;
    font-size: var(--body-font-size) !important;
    line-height: 1.8 !important;
}

a {
    text-decoration: none !important;
    color: #9c4eb8 !important;
}

/*========== Hide Scrollbar ==========*/
html {
    /* Internet Explorer 10+ and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
    /* Older versions of Firefox */
    overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
    /* Safari, Chrome and Opera */
    display: none;
}