{% load static %}
<div class="contianer border-top border-3">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-4 border-start border-end border-3" style="margin: 0 3rem;">
    <div class="col-md-4 d-flex align-items-center">
        <a href="https://www.djangoproject.com/" target="_blank" class="text-decoration-none">
          <span class="text-muted">Made with Django</span>
          <img src="{% static 'images/heart.svg' %}" class="ms-2" alt="heart" srcset="" style="width: 1.5rem; filter: grayscale(95%);">
        </a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
          <a class="active text-dark" target="_blank" aria-current="page" href="https://www.instagram.com/sparshchaurasia0021/"><i class="fa-brands fa-xl fa-instagram"></i></a>
      </li>
      <li class="ms-3">
          <a class="text-dark" target="_blank" aria-current="page" href="https://discord.gg/Fh5CctFSXP"><i class="fa-brands fa-xl fa-discord"></i></a>
      </li>
      <li class="ms-3">
          <a class="text-dark" target="_blank" href="mailto:sparshchaurasia0021@gmail.com"><i class="fa-solid fa-xl fa-envelope"></i></a>
      </li>
      <li class="ms-3">
          <a class="text-dark" target="_blank" href="http://github.com/SparshChaurasia/"><i class="fa-brands fa-xl fa-github"></i></a>
      </li>
    </ul>
  </footer>
</div>