<div class="border-top border-1 vw-100 position-absolute start-0"></div>
<footer class="section_margin border-start border-end border-1 py-5 px-4 d-flex justify-content-end align-items-center mb-4">
  <ul class="nav list-unstyled d-flex mb-0">
    <li class="ms-4">
        <a class="text-dark hover-opacity" target="_blank" href="https://www.instagram.com/sparshchaurasia0021/"><i class="fa-brands fa-xl fa-instagram"></i></a>
    </li>
    <li class="ms-4">
        <a class="text-dark hover-opacity" target="_blank" href="https://discord.gg/Fh5CctFSXP"><i class="fa-brands fa-xl fa-discord"></i></a>
    </li>
    <li class="ms-4">
        <a class="text-dark hover-opacity" target="_blank" href="mailto:sparshchaurasia0021@gmail.com"><i class="fa-solid fa-xl fa-envelope"></i></a>
    </li>
    <li class="ms-4">
        <a class="text-dark hover-opacity" target="_blank" href="http://github.com/SparshChaurasia/"><i class="fa-brands fa-xl fa-github"></i></a>
    </li>
  </ul>
</footer>