{% load static %}
<div class="side-navbar" id="side-navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link active-section" href="#hero">
        <span class="nav-line"></span>
        <span class="nav-text">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#skills">
        <span class="nav-line"></span>
        <span class="nav-text">Skills</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">
        <span class="nav-line"></span>
        <span class="nav-text">Projects</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#stats">
        <span class="nav-line"></span>
        <span class="nav-text">Stats</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">
        <span class="nav-line"></span>
        <span class="nav-text">Contact</span>
      </a>
    </li>
  </ul>
</div>