{% load static %}
<nav class="navbar navbar-expand-lg p-0 border-bottom border-3">
  <div class="container-fluid mx-5 py-3 bg-light border-end border-start border-3">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fa-solid fa-angle-down"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="nav-link active text-dark" target="_blank" aria-current="page" href="https://www.instagram.com/sparshchaurasia0021/"><i class="fa-brands fa-2x fa-instagram"></i></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-dark" target="_blank" aria-current="page" href="https://discord.gg/Fh5CctFSXP"><i class="fa-brands fa-2x fa-discord"></i></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-dark" target="_blank" href="mailto:sparshchaurasia0021@gmail.com"><i class="fa-solid fa-2x fa-envelope"></i></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-dark" target="_blank" href="http://github.com/SparshChaurasia/"><i class="fa-brands fa-2x fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>